.canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

#matt {
  position: relative;
  top: 10vh;
  left: 8vw;
  animation-name: ozma;
  animation-duration: 4s;
}
@keyframes ozma {
  0% {
    left: 96vw;
  }
  100% {
    left: 8vw;
  }
}

@media screen and (max-width: 780px) {
  img {
    display: block;
    width: 80%;
    animation: none;
    left: 2%;
  }
}

#kho {
  position: relative;
  top: 6vh;
  left: 12vw;
  animation-name: khoda;
  animation-duration: 4s;
}

@keyframes khoda {
  0% {
    left: -95vw;
  }
  100% {
    left: 12vw;
  }
}

#avatar {
  display: block;
  position: absolute;
  bottom: 0;
  right: 50%;
  left: 50%;
  animation-name: ava;
  animation-duration: 18s;
}

@keyframes ava {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 780px) {
  #avatar {
    display: block;
  }
}

/* Slide */
.slide div img {
  margin-left: 0px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.slide div:hover img {
  margin-left: -30px;
}

@media screen and (max-width: 780px) {
  .slide div img {
    margin-left: 0px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .slide div:hover img {
    margin-left: -8px;
  }
}

#projets {
  position: absolute;
  top: 65vh;
  left: 29vw;
  animation-name: example;
  animation-duration: 10s;
}
@keyframes example {
  0% {
    left: -95vw;
  }
  100% {
    left: 29vw;
  }
}

@media screen and (max-width: 780px) {
  #projets {
    display: block;
    left: 1%;
    padding: 1%;
    animation: none;
    width: 70%;
  }
}

#parcour {
  position: absolute;
  top: 75vh;
  left: 20vw;
  animation-name: exemple;
  animation-duration: 10s;
}

@keyframes exemple {
  0% {
    left: -95vw;
  }
  100% {
    left: 20vw;
  }
}

@media screen and (max-width: 780px) {
  #parcour {
    display: block;
    left: 1%;
    padding: 1%;
    animation: none;
    width: 70%;
  }
}

#personn {
  position: absolute;
  top: 85vh;
  left: 8vw;
  animation-name: exempl;
  animation-duration: 10s;
}

@keyframes exempl {
  0% {
    left: -100vw;
  }
  100% {
    left: 8vw;
  }
}

@media screen and (max-width: 780px) {
  #personn {
    display: block;
    left: 1%;
    padding: 1%;
    animation: none;
    width: 80%;
  }
}

/*  */

/* Title */

@keyframes fadein {
  to {
    opacity: 1;
  }
}

svg {
  margin: 0 auto;
  background: #000;
  position: relative;
  width: 70%;
  z-index: -1;
  top: -11vh;
  left: 8vw;
}

@font-face {
  font-family: Brandon Grotesque Medium;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/322729_0_0.woff2");
}

text {
  font-family: Brandon Grotesque Medium;
  fill: #fff;
  font-size: 95px;
  opacity: 0;
  animation: fadein 1.8s forwards;
}

#ghost {
  animation-delay: 0.3s;
}

.triangle text {
  font-size: 42px;
  animation-delay: 2s;
}

#shell {
  animation-delay: 4s;
}

@media screen and (max-width: 780px) {
  svg {
    display: block;
    top: 10vh;
    width: 100%;
    left: 2%;
    padding: 1%;
    animation: none;
  }
}

/* Menu */
#menuToggle {
  display: block;
  position: absolute;
  top: 5vh;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
