@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background: #121214;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  height: 360px;
  background: linear-gradient(45deg, #ffcc00 0%, #ff0058 100%);
  margin: 40px 30px;
  padding: 5px;
  position: relative;
  transition: 0.5s;
}

@media screen and (max-width: 780px) {
  .container {
    margin-top: 100px;
  }
}

.card:hover {
  transform: translatey(-20px);
}

.card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  filter: blur(30px);
}

.card:nth-child(1)::before,
.card:nth-child(1) {
  background: linear-gradient(45deg, #ffcc00 0%, #ff0058 100%);
}

.card:nth-child(2)::before,
.card:nth-child(2) {
  background: linear-gradient(315deg, #03a9f4 0%, #ff0058 100%);
}

.card:nth-child(3)::before,
.card:nth-child(3) {
  background: linear-gradient(315deg, #4dff03 0%, #00d0ff 100%);
}

.card span {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.content {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(0, 0, 0, 0.05) 50%
  );
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 40px 20px;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 20px;
}

.content a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background: #fff;
  color: #121214;
  padding: 10px 5px;
  font-weight: 600;
}

img {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 4vh;
}

@media screen and (max-width: 780px) {
  img {
    display: block;
    width: 100%;
    padding: 1%;
  }
}

/* Menu */
#menuToggle {
  display: block;
  position: absolute;
  top: 5vh;
  left: 8px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

@media screen and (max-width: 780px) {
  #menuToggle {
    position: fixed;
    top: 15vh;
  }
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
